<div class="form-body">
  <form autocomplete="off" [formGroup]="createForm" (ngSubmit)="onCreate(createForm.value)">
    <div>
      <label>Name: </label>
      <input type="text" formControlName="name" autocomplete="off">
    </div>
    <div>
      <label>Description: </label>
      <input type="text" formControlName="description" autocomplete="off">
    </div>
    <div>
      <label>City: </label>
      <input type="text" formControlName="city" autocomplete="off">
    </div>
    <div>
      <label>userId: </label>
      <input type="text" formControlName="userId" autocomplete="off">
    </div>
    <button type="submit">Submit</button>
  </form>
</div>

<div *ngIf="restaurants !== undefined; else loading">
  <div *ngFor="let restaurant of restaurants">
    <div>{{ restaurant.city }}</div>
    <div>{{ restaurant.name }}</div>
    <div>{{ restaurant.description }}</div>
  </div>
</div>
<ng-template #loading>
  <p>loading.....</p>
</ng-template>

<hr>

<div class="form-body">
  <form autocomplete="off" [formGroup]="createAddx" (ngSubmit)="onCreateAddx(createAddx.value)">
    <div>
      <label>ads: </label>
      <input type="text" formControlName="ads" autocomplete="off">
    </div>
    <button type="submit">Submit</button>
  </form>
</div>

<div *ngFor="let addx of addxList">
  <div>{{ addx.ads }}</div>
</div>
